@font-face {
    font-family: roboto-medium;
    src: url("../../../public/Fonts/roboto-medium-webfont.woff2");
    font-variant: normal;
}
@font-face {
    font-family: roboto-regular;
    src: url("../../../public/Fonts/roboto-regular-webfont.woff2");
    font-variant: normal;
}
a {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}
.profileContent {
    margin: 0 auto;
    max-width: 1366px;
    min-width: 1128px;
    position: relative;
    padding: 14px 64px 25px;
    display: flex;
    flex-flow: row wrap;
    font-family: roboto-medium;
    font-size: 14px;
    color: #212121;
    line-height: 1.4;
}
.profileLeftContent {
    width: 25%;
}
.profileRightContent {
    width: 75%;
    padding-left: 16px;
    min-height: 300px;
}
.profileRightContentbox {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}

/* Profile Left Components */

.profileLeftCard {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}
.showProfile {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    display: flex;
    flex-flow: row wrap;
}
.showProfileInfomation {
    padding: 5px 0 0 16px;
    width: calc(100% - 50px);
}
.showProfileHello {
    font-size: 12px;
}
.showProfileName {
    padding-top: 3px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.profileNavBox {
    padding-bottom: 12px;
}
.profileBoxContent {
    padding: 20px 12px 5px 24px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.profileNavBoxIcon {
    width: 20px;
    height: 20px;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}
.profileNavBoxLink {
    width: calc(100% - 26px);
    padding-left: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #878787;
    cursor: pointer;
}
.profileNavBoxLinkIconBox {
    margin-top: -2px;
    float: right;
    transform: rotate(180deg);
}
.profileNavBoxLink:hover {
    color: #2874f0;
}
.profileNavBoxContent {
    padding: 0 0 12px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #878787;
    cursor: auto;
}
.profileNavLink {
    font-size: 14px;
    font-family: roboto-regular;
}
.profileNavLinkContent {
    padding: 12px 5px 12px 66px;
}
.profileNavLink:hover {
    color: #2874f0;
}
.profileNavLinkActive {
    font-weight: 500;
    color: #2874f0;
    background-color: #f5faff;
    font-family: roboto-medium;
}
.profileNavLinkFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.profileNavLeftFooter {
    padding: 16px;
    font-size: 12px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}
.profileNavLeftFooterHead {
    padding-bottom: 5px;
    font-weight: 500;
}
.profileNavLeftFooterLinkContent {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.profileNavLeftFooterLink {
    cursor: pointer;
    padding: 5px 9px 0 0;
    font-family: roboto-regular;
    color: #878787;
}

/* ProfileRightInfo */

.profileRightInfo {
    padding: 24px 32px 0;
}
.profilePersonalInfo {
    padding-bottom: 56px;
}
.profilePersonalInfoHeadContainer {
    padding-bottom: 24px;
}
.profilePersonalInfoHead {
    font-size: 18px;
    font-weight: 500;
    padding-right: 24px;
}
.profilePersonalInfoEditBtn {
    font-size: 14px;
    font-weight: 500;
    color: #2874f0;
    cursor: pointer;
}
.profilePersonalInfoInputContainer {
    padding-bottom: 2px;
    display: flex;
    flex-flow: row wrap;
}
.profilePersonalInfoInput {
    width: 270px;
    padding-right: 12px;
    position: relative;
    margin-bottom: 10px;
}
.profileInfoPersonalDisabledName {
    background-color: #fafafa;
    cursor: not-allowed;
    padding: 16px;
    color: #878787;
    height: 50px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    outline: none;
    border-radius: 2px;
    box-shadow: none;
}
.profileInfoPersonalInformation {
    padding-bottom: 56px;
}
.profileInfoPersonalNameInput {
    letter-spacing: 0;
    height: 50px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    outline: none;
    border-radius: 2px;
    padding: 20px 16px 0 13px;
    box-shadow: none;
}
.profileInfoPersonalNameLabel {
    transform: translateY(-15%) scale(.815);
    padding: 18px 0 0 15px;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: top left;
    font-size: 14px;
    color: #878787;
    transition: transform .2s ease;
}
.profilePersonalInfoGender {
    padding: 12px 0;
    font-family: roboto-regular;
}
.profilePersonalInfoSelectGenderContainer {
    font-size: 16px;
    border-bottom: none;
    display: inline-block;
    margin-right: 32px;
    cursor: not-allowed;
    color: #878787;
}
.profilePersonalInfoSelectGenderContainerEdit {
    font-size: 16px;
    border-bottom: none;
    display: inline-block;
    margin-right: 32px;
    cursor: pointer;
}
.profilePersonalInfoMaleInput, .profilePersonalInfoFemaleInput  {
    visibility: hidden;
    position: absolute;
}
.profilePersonalInfoSaveBtn {
    display: inline-block;
    background: #2874f0;
    width: 130px;
    height: 48px;
    padding: 14px;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    box-shadow: none;
    font-weight: 500;
    transition: box-shadow .2s ease;
    cursor: pointer;
    outline: none;
    border: 1px solid #e0e0e0;
    font-family: roboto-medium;
}
.profilePersonalInfoGenderCheck {
    cursor: pointer;
    display: inline-block;
    border: 2px solid #979797;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    position: relative;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 0;
}
.profilePersonalInfoGenderCheckDisabled {
    display: inline-block;
    border: 2px solid #979797;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    position: relative;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 0;
}
.profilePersonalInfoGenderCheck.radioActive{
    border-color: #2874f0;
}
.profilePersonalInfoGenderCheck.radioActive::before {
    background-color: #2874f0;
    border: 2px hidden;
}
.profilePersonalInfoGenderCheckDisabled.radioActiveDisabled{
    border-color: #979797;
}
.profilePersonalInfoGenderCheckDisabled.radioActiveDisabled::before {
    background-color: #979797;
    border: 2px hidden;
}
.profilePersonalInfoGenderCheck::before, .profilePersonalInfoGenderCheckDisabled::before {
    content: "";
    border-radius: 100%;
    height: 8px;
    width: 8px;
    margin: auto;
    position: absolute;
    top: 2px;
    left: 2px;
}
.profilePersonalInfoGenderLabel {
    margin-left: 12px;
    width: auto;
    display: inline-block;
    cursor: inherit;
    font-size: 14px;
    font-family: roboto-regular;
}
.profileInfoEmailAddress, .profileInfoMobileNumber {
    padding-bottom: 46px;
}
.profileInfoFaq {
    padding-bottom: 24px;
    font-size: 14px;
}
.profileInfoFaqHead {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
}
.profileInfoFaqQuestion {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 20px;
    padding: 0;
    line-height: 1.5;
    font-weight: 500;
}
.profileInfoFaqAnswer {
    line-height: 1.5;
    margin-top: 15px;
    font-weight: 300;
    font-family: roboto-regular;
}
.profileDeactivate {
    padding-top: 22px;
    font-weight: 500;
    color: #2874f0;
    cursor: pointer;
}
.myProfileFooterImage {
    vertical-align: middle;
}

/* Profile Address */

.profileAddressContainer {
    min-height: 600px;
    padding: 24px 32px;
    position: relative;
}
.profileAddressHead {
    font-size: 18px;
    font-weight: 500;
    display: block;
    padding-bottom: 20px;
}
.profileAddAddressBtnContainer {
    border: 1px solid #e0e0e0;
    background: #fff;
    border-radius: 2px;
    margin-bottom: 30px;
}
.profileAddAddressBtn {
    font-size: 14px;
    color: #2874f0;
    font-weight: 500;
    padding: 16px 0;
    cursor: pointer;
}
.profileAddAddressIcon {
    margin: 0 16px;
    vertical-align: middle;
}

/* Add Address Section */

.addAddressContainer {
    background-color: #f5faff;
    padding: 20px;
    position: relative;
}
.addAddressType {
    color: #2874f0;
    font-weight: 500;
}
.addAddress {
    margin-top: 16px;
    width: 570px;
}
.useLocationContainer {
    margin-bottom: 16px;
}
.useLocationBtn {
    padding: 14px 24px;
    font-size: 14px;
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border: none;
}
.useLocationIcon {
    margin-right: 6px;
    vertical-align: text-bottom;
}
.addAddressMultiInputContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.addSpecificAddressInputContainer {
    width: 280px;
    position: relative;
    margin-bottom: 10px;
}
.addSpecificAddressInput {
    height: 50px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    outline: none;
    border-radius: 2px;
    padding: 20px 16px 0 13px;
    box-shadow: none;
}
.addSpecificAddressLabel {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: top left;
    padding: 18px 20px 0;
    font-size: 14px;
    color: #878787;
    transition: transform .2s ease;
    pointer-events: none;
    width: 100%;
    font-family: roboto-regular;
}
.addAddressAreaInputContainer {
    width: 100%;
    margin-bottom: 0;
    position: relative;
}
.addAddressAreaInput {
    padding-top: 25px;
    vertical-align: top;
    resize: none !important;
    width: 100%;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    outline: none;
    border-radius: 2px;
    padding: 20px 16px 0 13px;
    box-shadow: none;
    font-family: roboto-regular;
}
.addAddressStateContainer {
    border: 1px solid #e0e0e0;
    background-color: #fff;
}
.addAddressStateLabel {
    font-size: 12px;
    padding-top: 6px;
    padding-left: 13px;
    cursor: default;
    color: #878787;
}
.addAddressSelectStateContainer {
    width: 280px;
    position: relative;
    display: block;
}
.addAddressSelectStateContainer::after {
    top: 35%;
    border-top-width: 5px;
    border-right-width: 5px;
    border-left-width: 5px;
    display: block;
    content: " ";
    position: absolute;
    right: 0.7em;
    pointer-events: none;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #212121;
    margin-top: -3px;
}
.addAddressSelectStateInput {
    padding: 2px 16px 7px 13px;
    font-size: 14px;
    color: inherit;
    border: none;
    outline: none;
    appearance: none;
    border-radius: 0;
    background: #fff;
    overflow: visible !important;
}
option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
}
.addAddressTypeContainer {
    padding-left: 13px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}
.addAddressTypeHead {
    font-size: 12px;
    color: #878787;
    margin-bottom: 10px;
    font-family: roboto-regular;
}
.addressTypeContainer {
    margin-bottom: 16px;
    width: 100%;
}
.addAddressSubmitContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}
.addAddressSubmitBtn {
    background: #2874f0;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border: none;
    color: #fff;
    height: 48px;
    width: 230px;
    display: inline-block;
    border-radius: 2px;
    padding: 10px 20px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    vertical-align: super;
    cursor: pointer;
    outline: none;
    font-family: roboto-medium;
}
.addAddressCancelBtn {
    box-shadow: none;
    font-weight: 500;
    color: #2874f0;
    background-color: transparent;
    border: none;
    margin-left: 20px;
    padding-right: 0;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 2px;
    padding: 10px 20px;
    transition: box-shadow .2s ease;
    vertical-align: super;
    background: #fff;
    cursor: pointer;
    outline: none;
    font-family: roboto-medium;
}

/* Address Card */

.addressCard {
    border: 1px solid #e0e0e0;
    border-top: 0;
    position: relative;
}
.addressCard:first-child {
    border-top: 1px solid #e0e0e0;
    margin-top: 20px;
    border-radius: 2px 0;
}
.addressCard:last-child {
    border-radius: 0 2px;
}
.addressCardContent {
    max-width: 848px;
    overflow: hidden;
    padding: 20px;
}
.addressCardMenu {
    max-width: 35px;
    float: right;
    cursor: pointer;
    padding: 0 8px;
}
.addressCardTypeContainer {
    margin-bottom: 10px;
}
.addressCardType {
    text-transform: uppercase;
    font-size: 11px;
    color: #878787;
    vertical-align: middle;
    padding: 4px 7px;
    border-radius: 2px;
    background-color: #f0f0f0;
    font-weight: 500;
    margin-right: 15px;
}
.addressCardTitleContainer {
    line-height: 1.5;
}
.addressCardTitle {
    font-weight: 500;
}
.addressCardTitleMobile {
    margin: 0 0 0 15px;
}
.addressCardContentContainer {
    margin-top: 10px;
    display: block;
    max-width: 523px;
    line-height: 1.5;
    font-family: roboto-regular;
}
.addressPincode {
    font-weight: 500;
    font-family: roboto-medium;
}

/* Address Menu Popup */

.addressMenuPopup {
    z-index: 1;
    white-space: nowrap;
    position: absolute;
    font-size: 14px;
    color: #878787;
    border: 1px solid rgba(0,0,0,.05);
    box-shadow: 0 6px 6px 0 rgba(0,0,0,.12), 0 1px 3px 0 rgba(0,0,0,.18);
    right: 23px;
    padding: 5px;
    border-radius: 3px;
    top: 10px;
    background-color: #fff;
}
.addressMenuPopupEditBtn, .addressMenuPopupDeleteBtn {
    padding: 7px 12px;
    color: #212121;
}
.addressMenuPopupBtn:hover, .addressMenuPopupDeleteBtn:hover {
    color: #2874f0;
}

/* Profile PAN Card */

.profilePanCardContainer {
    min-height: 300px;
    padding: 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}
.profilePanCardHead {
    font-size: 18px;
    font-weight: 500;
    display: block;
    padding-bottom: 10px;
}
.profilePanCardInputContainer {
    position: relative;
    margin-bottom: 10px;
}
.profileInputPanNum, .profileInputPanName {
    max-width: 300px;
    height: 50px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    outline: none;
    border-radius: 2px;
    padding: 20px 16px 0 13px;
    box-shadow: none;
    letter-spacing: 0;
}
.profileLabelPanNum, .profileLabelPanName {
    position: absolute;
    left: 0;
    top: 0;
    padding: 18px 20px 0;
    font-size: 14px;
    color: #878787;
    pointer-events: none;
    width: 100%;
    transform-origin: top left;
    transition: transform .2s;
    font-weight: 300;
    font-family: roboto-regular;
    letter-spacing: 0.1px;
}
.panInputActive {
    border: 1px solid #2874f0 !important;
}
.panLabelActive {
    transform: translateY(-10px) scale(0.8) !important;
}
.profileUploadPanCard {
    padding: 10px;
    border: 1px solid #e0e0e0;
    max-width: 300px;
    border-radius: 2px;
}
.profileUploadPanCardLabel {
    font-size: 11px;
    padding-bottom: 5px;
    color: #878787;
    display: block;
    font-family: roboto-regular;
    letter-spacing: 0.1px;
}
.profileUploadPanCardInput {
    box-shadow: none;
    letter-spacing: 0;
}
.profilePanCardCheckBoxContainer {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
}
.profilePanCheckBoxInput {
    vertical-align: top;
    margin-top: -42px;
}
.profilePanCheckBoxLabel {
    white-space: normal;
    overflow: unset;
    line-height: 1.5;
    margin-left: 12px;
    cursor: default;
    font-size: 14px;
    vertical-align: middle;
    color: #212121;
    display: inline-block;
    width: calc(100% - 50px);
    text-overflow: ellipsis;
    font-family: roboto-regular;
    letter-spacing: 0.1px;
}
.profilePanCardUploadBtn {
    margin-top: 10px;
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border: none;
    display: inline-block;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    cursor: pointer;
    font-family: roboto-medium;
}
.profilePanCardFooter {
    padding-top: 40px;
}
.profilePanCardFooterLink {
    font-weight: 500;
    font-size: 16px;
    color: #2874f0;
    margin: 0 15px 25px 0;
    display: inline-block;
}

/* Profile Otp Popup */

.profileOtpPopupContainer {
    height: 100%;
    overflow: auto;
    opacity: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.6);
    transition: opacity .15s ease-out;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
}
.profileOtpPopupContentContainer {
    position: relative;
    min-width: 400px;
    max-width: 90%;
    min-height: 200px;
    background: #fff;
    border-radius: 4px;
    outline: none;
    margin: 50px 0;
}
.profileOtpPopupCancelBtn {
    position: absolute;
    height: 24px;
    width: 24px;
    right: -40px;
    top: 0;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 32px;
    line-height: 1;
    vertical-align: top;
}
.profileOtpPopupContent {
    padding: 40px;
}
.profileOtpPopupRow {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    font-family: roboto-medium;
}
.profileOtpPopupRowVerify {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 22px;
}
.profileOtpPopupRowResend {
    margin-left: auto;
    margin-top: 5px;
    color: #2874f0;
    font-weight: 500;
    font-size: 14px;
}
.profileOtpPopupInputContainer {
    width: 350px;
    margin-bottom: 16px;
    position: relative;
}
.profileOtpPopupInput {
    letter-spacing: 4px!important;
    height: 60px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    outline: none;
    border-radius: 2px;
    padding: 20px 16px 0 13px;
    box-shadow: none;
}
.profileOtpPopup {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: top left;
    padding: 18px 20px 0;
    font-size: 14px;
    transition: transform .2s ease;
    color: #878787;
    font-family: roboto-regular;
}
.profileOtpPopupSubmitBtn {
    background: #2874f0;
    width: 350px;
    padding: 12px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    margin-top: 8px;
    text-transform: uppercase;
    box-shadow: none;
    display: inline-block;
    border-radius: 2px;
    transition: box-shadow .2s ease;
    vertical-align: super;
    cursor: pointer;
    outline: none;
    border: 1px solid #e0e0e0;
    font-family: roboto-medium;
}

/* Profile Delete Popup */

.profileDeletePopupContent {
    padding: 40px;
    max-width: 450px;
}
.profileDeletePopupHead {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    font-family: roboto-medium;
}
.profileAddressDeletePopup {
    margin-top: 45px;
}
.profileAddressDeletedeleteBtn {
    width: 175px;
    height: 48px;
    text-transform: uppercase;
    background: #2874f0;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border: none;
    color: #fff;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 13px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    font-family: roboto-medium;
    text-align: center;
}
.profileAddressDeleteCancelBtn {
    background: transparent;
    border: 0;
    box-shadow: none;
    color: #2874f0;
    font-size: 14px;
    width: 175px;
    height: 48px;
    text-transform: uppercase;
    font-weight: 500;
    transition: box-shadow .2s ease;
    display: inline-block;
    border-radius: 2px;
    padding: 15px 20px;
    cursor: pointer;
    outline: none;
    font-family: roboto-medium;
    text-align: center;
}

/* No Address */

.noAddressContainer {
    background-color: #fff;
    min-height: 600px;
    padding: 24px 32px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}
.noAddressContent {
    padding-top: 100px;
    text-align: center;
    min-height: 600px;
}
.noAddressHead {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}
.noAddressFoot {
    display: block;
    font-size: 14px;
    margin-top: 8px;
    font-family: roboto-regular;
}
.noAddressAddAddressBtn {
    margin-top: 20px;
    padding: 15px 45px;
    font-size: 15px;
    font-weight: 500;
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border: none;
    font-family: roboto-medium;
    cursor: pointer;
}