/* Cart Footer */

@font-face {
    font-family: roboto-medium;
    src: url("../../../public/Fonts/roboto-medium-webfont.woff2");
    font-variant: normal;
}
@font-face {
    font-family: roboto-regular;
    src: url("../../../public/Fonts/roboto-regular-webfont.woff2");
    font-variant: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
}
.cartFooter {
    min-width: 978px;
    border-top: 1px solid #ddd;
    margin-top: 35px;
}
.cartFooterContent {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
.cartFooterContent1 {
    width: 90%;
    margin: 0 auto;
    padding: 25px;
    text-align: right;
    font-size: 14px;
}
.cartFooterLeftContent {
    display: inline-block;
    vertical-align: top;
    width: 66.66%;
    color: #565656;
    font-weight: 300;
    line-height: 31px;
    text-align: left;
    font-family: roboto-regular;
}
.cartFooterRightContent {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    color: #565656;
    font-weight: 300;
    line-height: 31px;
    font-family: roboto-regular;
}
.cartFooterLink {
    padding: 0 5px;
    border-right: 1px solid #878787;
}
.cartFooterLink:last-child {
    padding: 0 5px;
    border-right: none;
}
.cartFooterYear {
    margin-left: 25px;
}
.cartRightFooterLink {
    color: #2874f0;
}