/* Login Signup Modal */

@font-face {
    font-family: roboto-medium;
    src: url("../../Fonts/roboto-medium-webfont.woff2");
    font-variant: normal;
}
@font-face {
    font-family: roboto-regular;
    src: url("../../Fonts/roboto-regular-webfont.woff2");
    font-variant: normal;
}
a {
    text-decoration: none;
    border: none;
    outline: none;
}
.loginSignupModal {
    position: fixed;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 12;
    transition: opacity .2s;
    font-family: roboto-regular;
}
.loginSignupModalBox {
    outline: none;
    position: relative;
}
.loginSignupCloseBtn {
    font-family: roboto-medium;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 32px;
    line-height: 1;
    vertical-align: top;
}
.loginSignupModalContent1 {
    min-width: 400px;
    max-width: 90%;
    min-height: 200px;
    max-height: 90vh;
    background: #fff;
    border-radius: 4px;
    margin: 0 auto;
    overflow: auto;

    outline: none;
    position: relative;
}
.loginSignupModalContent2 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    color: #212121;
    margin: 0 auto;
    border-radius: 2px;
    height: 528px;
    max-width: 750px;
    min-width: 650px;
}
.loginSignupModalLeft {
    background-image: url(../../Media/loginBGImg.png);
    background-repeat: no-repeat;
    background-position: center 85%;
    background-color: #2874f0;
    color: #fff;
    padding: 40px 33px;
    font-size: 15px;

    width: 40%;    
    display: inline-block;
    vertical-align: top;

}
.loginSignupModalRight {
    padding: 57px 35px 16px;
    position: relative;
    background-color: #fff;

    width: 60%;
    display: inline-block;
    vertical-align: top;
}

/* Login Page Left */

.loginPageLeft {
    margin-top: 3px;
}
.loginPageLeftHead {
    font-size: 28px;
    font-weight: 500;
    font-family: roboto-medium;
}
.signupPageLeftHead {
    line-height: 1.4;
    font-size: 28px;
    font-weight: 500;
    font-family: roboto-medium;
}
.loginPageLeftPara {
    font-size: 18px;
    margin-top: 19px;
    line-height: 150%;
    color: #dbdbdb;
    font-family: roboto-regular;
}
.signupPageLeftPara {
    font-size: 18px;
    margin-top: 16px;
    line-height: 150%;
    color: #dbdbdb;
    font-family: roboto-regular;
}

/* Login Page Right */

.loginPageRightInput {
    position: relative;
    margin-bottom: 34px;
    font-size: 16px;
}
.loginPageRightInput1 {
    letter-spacing: 0;
    padding: 8px 10px 10px 0;
    width: 100%;
    color: #000;
    font-size: inherit;
    background: #fff;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
}
.loginPageRightInputLabel {
    color: #878787;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translateY(10px);
    transform-origin: left;
    transition: transform .2s ease;
    font-family: roboto-regular;
}
.inputUnderBlue {
    border-bottom: 1px solid #2874f0;
}
.loginLabelActive {
    transform: translateY(-10px) scale(0.8) !important;
}

.loginPageRightDescription {
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    font-family: roboto-regular;
}
.blueLink {
    color: #2874f0;
    font-weight: 500;
    font-family: roboto-regular;
}
.blueLinkHover:hover {
    text-decoration: none !important;
}
.blueLinkSignup {
    font-family: roboto-medium;
}
.loginPageRightOTPBtn, .signupPageRightOTPBtn {
    margin-top: 16px;
    font-family: roboto-medium;

    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border: none;
    color: #fff;
    letter-spacing: 0;
    width: 100%;
    height: 48px;
    font-size: 15px;
    border-radius: 2px;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
}
.loginPageRightSignupLink {
    font-family: roboto-medium;
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}

/* Signup Page Right */

.signupPageRightOTPBtn {
    margin-top: 10px;
}
.backToLoginPopup {
    border: none;
    line-height: 180%;
    text-align: center;
    color: #2874f0;
    background-color: #fff;
    font-family: roboto-medium;
    margin-top: 16px;
    width: 100%;
    height: 48px;
    font-size: 15px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    display: inline-block;
    border-radius: 2px;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
}
.backToLoginPopup:hover {
    text-decoration: none;
}

/* Login OTP Page */

.loginOtpPageRight {
    text-align: center;
    font-size: 16px;
    font-family: roboto-regular;
    line-height: 1.4;
}
.loginOtpPageRightuser {
    margin-right: 10px;
}
.loginOtpPageRightDescription {
    margin-top: 32px;
    color: #878787;
    font-size: 14px;
}
.resendLoginOTP {
    cursor: pointer;
    font-family: roboto-medium;
}
.loginOtpPageRightInput {
    display: flex;
    margin-top: 54px;
    justify-content: center;
}
.loginOtpVerifyBtn {
    width: 100%;
    height: 48px;
    font-size: 15px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    background: #2874f0;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    display: inline-block;
    border-radius: 2px;
    font-weight: 500;
    padding: 10px 20px;
    font-family: roboto-medium;
}
.loginOtpPageRightInput1 {
    margin-right: 10px;
    width: 60%;
    position: relative;
    margin-bottom: 34px;
    font-size: 16px;
    letter-spacing: 2px;
}
.loginOtpPageRightInput1Value {
    padding: 0;
    font-size: 24px;
    text-align: center;
    box-shadow: none;
    width: 100%;
    color: #000;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
    appearance: none;
}
.loginOtpPageRightInput1Value::-webkit-outer-spin-button,
.loginOtpPageRightInput1Value::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
.changeLoginNumber {
    font-family: roboto-medium;
}

/* Signup OTP Page */

.signupOtpMObileNo {
    position: relative;
    margin-bottom: 34px;
    font-size: 16px;
}
.signupOtpPageInput {
    color: #878787;
    padding: 10px 60px 5px 40px;
    width: 100%;
    font-size: inherit;
    background: #fff;
    border: none;
    border-bottom: 1px solid #2874f0;
    outline: none;
}
.signupOtpPageLabel {
    transform: translateY(-10px) scale(.8);
    color: #878787;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: -10px;
    top: 0;
}
.signupOtpPageSpan {
    left: 0;
    padding-right: 5px;
    border-right: 1px solid #c2c2c2;
    bottom: 6px;
    position: absolute;
    display: inline-block;
}
.signupOtpPageChangeNo {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    right: 0;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    color: #2874f0;
    text-decoration: none;
    cursor: pointer;
}
.signupOtpPageResend {
    font-size: 14px;
    margin-bottom: 35px;
}
.signupOtpPageResendLink {
    float: right;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    color: #2874f0;
    text-decoration: none;
    cursor: pointer;
}
.signupPageEnterOtp {
    position: relative;
    margin-bottom: 34px;
    font-size: 16px;
}
.signupPageEnterOtpInput {
    letter-spacing: 0;
    padding: 8px 10px 10px 0;
    width: 100%;
    color: #000;
    font-size: inherit;
    background: #fff;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
}
.signupPageEnterOtpLabel {
    color: #878787;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translateY(10px);
    transition: transform .2s ease;
}
.signupOtpPageBtn {
    margin-top: 10px;
}
.signupPageOtpLabel2 {
    left: -10px;
}