/* Carousel Container */

.carouselContainer {
    padding: 0px 0px 8px;
    display: block;
    width: 100%;
    align-items: stretch;
    overflow: hidden;
    border-top: 1px solid #eaeaea;
    height: 100%;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    display: flex;
}
a {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

/* Carousel Left Container */

.carouselLeft {
    text-align: center;
    height: 100%;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 28px 10px 124px;
}
.carouselLeftHead {
    word-wrap: break-word;
    font-size: 30px;
    line-height: 1.38;
    font-weight: 400;
}
.carouselLeftLinkContainer {
    margin-top: 24px;
}
.carouselLeftLink {
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border: none;
    display: inline-block;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

/* Carousel */

.carouselContent {
    overflow: hidden;
    display: flex;
    /* width: 100%; */
    flex-direction: row;
    position: relative;
    overflow-x: hidden;
}

/* Carousel Card */

.carouselCard {
    width: 232px;
    display: flex;
    flex-direction: column;
}
.carouselCardLink {
    padding: 25px 15px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-height: 366px;
    text-align: center;
}
.carouselCardImageContainer {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 auto;
}