/* Carousel Container */

@font-face {
    font-family: roboto-medium;
    src: url("../../Fonts/roboto-medium-webfont.woff2");
    font-variant: normal;
}
@font-face {
    font-family: roboto-regular;
    src: url("../../Fonts/roboto-regular-webfont.woff2");
    font-variant: normal;
}
/* * {
    outline: 1px solid blue;
} */
.carouselContainer {
    padding: 0px 0px 8px;
    display: block;
    width: 100%;
    align-items: stretch;
    overflow: hidden;
    border-top: 1px solid #eaeaea;
    height: 100%;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    display: flex;
    font-family: roboto-medium;
}
a {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

/* Carousel Left Container */

.carouselLeft {
    text-align: center;
    height: 100%;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 28px 10px 124px;
}
.carouselLeftHead {
    word-wrap: break-word;
    font-size: 30px;
    margin-top: 50px;
    line-height: 1.38;
    font-weight: 400;
    font-family: roboto-regular;
}
.carouselLeftLinkContainer {
    margin-top: 24px;
}
.carouselLeftLink {
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border: none;
    display: inline-block;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

/* Carousel */

.carouselContent {
    overflow: hidden;
    /* display: flex;
    width: 100%;
    flex-direction: row;
    position: relative; 
    overflow-x: hidden; */
}

/* Carousel Card */

.carouselCard {
    width: 232px;
    /* display: flex;
    flex-direction: column; */
}
.carouselCardLink {
    padding: 25px 15px;
    /* display: inline-block; */
    vertical-align: top;
    width: 100%;
    max-height: 366px;
    text-align: center;
}
.carouselCardImageContainer {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.carouselCardBrand {
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.carouselCardPrice {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(56, 142, 60);
    padding-top: 8px;
    font-family: roboto-regular;
}
.carouselCardCategory {
    opacity: 0.6;
    padding-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: roboto-regular;
    font-size: 14px;
}