.loginSignupModuleContainer {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
    margin: 16px auto 25px;
    width: 840px;
    min-height: 350px;
    height: 528px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
}
